
.key {
    border: 1px solid black;
    margin: 3px;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    transition: all 0.07s;
    width: 100px;
    text-align: center;
    color: white;
}

.keys {
    display: flex;
    justify-content: space-between;
}

.onkey {
    border: 2px solid red;
    margin: 3px;
    transition: 0.07s;
}